@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/main.css")
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1 class="my-title">Let`s find you a dream flight</h1>
            <h2>Use the full search</h2>
            @Html.Partial("_Search")
            <h2>Or use search by number</h2>
            @Html.Partial("_SearchByNumber")
        </div>
    </div>
</div>