
@{
    ViewBag.Title = "No Results";
}


<div class="row" style="text-align: center; padding-top: 250px;">
    <div class="col" style="margin: 0 , auto;">
        <h1>
            Your search did not match
        </h1>
    </div>
</div>

