
@{
    ViewBag.Title = "Not Found";
}

<div class="row" style="text-align:center; padding-top: 200px">
    <div class="col" style="margin: 0, auto;">
        <h1>Error 404</h1>
        <h2>Page not found</h2>
    </div>
</div>

