
@{
    ViewBag.Title = "Server Error";
}

<div class="row" style="text-align:center; padding-top: 200px">
    <div class="col" style="margin: 0, auto;">
        <h1>Error</h1>
        <h2>Server error</h2>
        <h3>Try again later</h3>
    </div>
</div>
